<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<mat-toolbar>
  <ul class = "nav">
  <li><a routerLink="/" ><i class="fas fa-home"></i> Home</a></li>
  <li><a routerLink="/generate"> <i class="fas fa-cogs"></i> Generate Lyrics</a></li>
 <li><a routerLink="/about"><i class="fas fa-info-circle"></i> About</a></li>
</ul>
</mat-toolbar>
